html {
  background: #b43e8f;
  font-family: cursive;
}

body {
  display: flex;
  height: 100vh;
}

.heading {
  border: 0 solid black;
  grid-column: span 4;
  text-align: center;
  font-size: 25px;
}

.calculator {
  background: #cea2ac;
  text-align: center;
  height: 406px;
  width: 296px;
  margin: auto;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 25px 80px 48px 48px 48px 48px 48px;
  grid-gap: 10px;
  border-radius: 4%;
  box-shadow: 4px 4px 4px #2c363f;
  border: 1px solid black;
}

.screen {
  padding: 10px;
  text-align: right;
  grid-column: span 4;
  border: 1px solid white;
  border-radius: 10px;
  background: linen;
  border: 2px solid black;
}

#screen1 {
  font-weight: bold;
  font-size: 1.5em;
}

.btn {
  text-align: center;
  background: #a2999e;
  border-radius: 10%;
  font-size: 25px;
  line-height: 44px;
  vertical-align: middle;
  border: 2px solid black;
}

.btn:hover {
  background: blue;
  cursor: pointer;
}

#equal {
  grid-row: span 2;
  text-align: center;
  background: #a2999e;
  border-radius: 10%;
  font-size: 25px;
  padding: 30px 10px 10px 10px;
  line-height: 44px;
  border: 2px solid black;
  vertical-align: middle;
}

#zero {
  grid-column: span 2;
  background: #a2999e;
  border-radius: 10%;
  font-size: 25px;
  line-height: 44px;
  vertical-align: middle;
  border: 2px solid black;
}

.clear, .clear-all {
  background: #a4031f;
  border-radius: 10%;
  font-size: 25px;
  line-height: 44px;
  vertical-align: middle;
  border: 2px solid black;
}

.clear:hover {
  background: blue;
  cursor: pointer;
}

.clear-all:hover {
  background: blue;
  cursor: pointer;
}

.dot {
  background: #a2999e;
  border-radius: 10%;
  font-size: 25px;
  line-height: 44px;
  vertical-align: middle;
  border: 2px solid black;
}

.dot:hover {
  background: blue;
  cursor: pointer;
}

#zero:hover {
  background: blue;
  cursor: pointer;
}

#equal:hover {
  background: blue;
  cursor: pointer;
}
